* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.tabela{
    width: 100%;
    border: 1px black solid;
    border-collapse: collapse;
}

.tabela td, .tabela th{
    padding: 16px;
    border: 1px black solid;
    text-align: center;
}

.tabela th{
    color: white;
    background-color: black;
}

.tabela tr:nth-child(odd){
    background-color: lightgray;
}

.tabela tr:hover{
    background-color: rgb(241, 241, 190);
}